body{
	background-color:grey;
}

img{
	padding:10px
}


nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
  	background-color: black;
	color: white;
}

nav li{
	float:left; background-color:black; display:inline
}

nav a{
	display:block;
	padding:10px;
	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}
		
nav li a:hover {
  background-color: lightgrey;
}
