/*Navbar*/
nav ul{
	float:left; 
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	color:#2272FF; /*Neon Blue*/
}

a{
	display:block;
	padding:10px;
  	padding: 14px 16px;
  	text-decoration:none;
	font-size: 20px;
}
		
li a:hover {
  background-color: #3C454B;
}

/*Body*/
body{
	background-color: white;
	padding: 10px;
}
ul {
	list-style-type: none;
	
}

h1, h2, h3, h4, p{
	font-size: 175%;
	text-align:justify;
	color: Grey;
}



footer{
font-size: 16px;
}

/*Layout*/
.flex-container {	
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;	
}

.flex-container > div {
  background-color: black;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#more{
	display: none;
}
#readMoreBtn{ 
	border: none;
	background-color: #2272FF;
	color: black;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}
