/*Navbar*/
nav ul{
	float:left; 
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	color:#2272FF; /*Neon Blue*/
}

a{
	display:block;
	padding:10px;
  	padding: 14px 16px;
  	text-decoration:none;
	font-size: 20px;
}
		
li a:hover {
  background-color: #3C454B;
}

/*Body*/
body{
	background-color:black;
	padding: 10px;
}
ul {
	list-style-type: none;
	
}

p{
	font-size: 175%;
	text-align:justify;
	color: Grey;
}

h1{
	font-size:75px;
	text-align:center;
}

h2{
	font-size:35px;
	text-align:center;
}

footer{
font-size: 16px;
}

/*Project Blog Formatting*/
.img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  width: 150px; /* Set a small width */
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*Layout*/
.flex-container {	
  display: flex;
  justify-content: space-between;
	align-content: center;
	 overflow: scroll;
  flex-flow: row wrap;
  background-color: #1D1D1;
}

.flex-container > div {
  background-color: black;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
#more{
	display: none;
}
#readMoreBtn{ 
	border: none;
	background-color: #2272FF;
	color: black;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}
