/*Navbar*/
nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
  	background-color:#668192;
	color:#668192;
}

nav li{
	float:left; background-color:#668192; display:inline
}

a{
	display:block;
	padding:10px;
	text-align: center;
  	padding: 14px 16px;
  	text-decoration:none;
	font-size: 20px;
}
		
li a:hover {
  background-color: #3C454B;
}

/*Body*/
body{
	background-color:#5A707E;
	padding: 10px;
}

p{
	font-size: 175%;
	text-align:justify;
}

h1{
	font-size:75px;
	text-align:center;
}

h2{
	font-size:35px;
	text-align:center;
}

img{
	height:75%;
	width:75%;
	margin:auto;
	padding:20px;
	border:5px #32373B;
}
/*Layout*/

/* Left column */
.leftcolumn {   
  float: left;
  width: 45%;
}
.img{
	height:auto;
	width:auto;
	margin:auto;
	padding:15px;
	border:2px #32373B;
	float: center;
}
.wideimage{
height:325px;
}
/* Right column */
.rightcolumn {
  float: right;
  width: 55%;
  background-color: #5A707E;
}

/*card effect*/
.card {
  background-color: #50626D;
  padding: 15px;
  margin-top: 20px;
}


.row::after {
  content: "";
  display: table;
  clear: both;
}

#picture1{
	width:950px;
}

#section1{
	margin-bottom:50px
}

#section1 img{
	float:right;
	width:450px;
	height:400px;
	margin-left:15px;
	margin-bottom:20px;
}

#section2{
	margin-top:250px
}
#section2 img{
	margin-right:15px;
	float:left;
	width:450px;
	height:400px;
	margin-left:15px;
}
#more{
	display: none;
}
#readMoreBtn{ 
	border: none;
	background-color: #5A707E;
	color: black;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}
