body{
	background-color:grey;
	border-right-style:5px solid black;
	border-left-style:5px solid black;
}

p{
	font-size: 175%;
}

h1{
	font-size:75px;
	text-align:center;
}

img{
	margin:auto;
	border:5px solid black;
}

nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
  	background-color:black;
	color:black;
}

nav li{
	float:left; background-color:black; display:inline
}

a{
	display:block;
	padding:10px;
	text-align: center;
  	padding: 14px 16px;
  	text-decoration:none;
}
		
li a:hover {
  background-color: lightgrey;
}




#section1{
	margin-bottom:50px
}

#section1 img{
	float:right;
	width:450px;
	height:400px;
	margin-left:15px;
}

#section2{
	margin-top:150px
}
#section2 img{
	margin-right:15px;
	margin-top:50px;
	float:left;
	width:450px;
	height:400px;
	margin-left:15px;
}
