/*Navbar*/
nav ul{
	float:left; 
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
  	background-color:#668192;
	color:#668192;
}

nav li{
	background-color:#668192;
}

a{
	display:block;
	padding:10px;
  	padding: 14px 16px;
  	text-decoration:none;
	font-size: 20px;
}
		
li a:hover {
  background-color: #3C454B;
}

/*Body*/
body{
	background-color:#5A707E;
	padding: 10px;
}
ul {
	list-style-type: none;
}

p{
	font-size: 175%;
	text-align:justify;
}

h1{
	font-size:75px;
	text-align:center;
}

h2{
	font-size:35px;
	text-align:center;
}
/*Project Blog Formatting*/
.img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  width: 150px; /* Set a small width */
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*Layout*/

/* Left column */
.leftcolumn {   
  float: left;
  width: 25%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 75%;
  background-color: #5A707E;
}

/*card effect*/
.badge {
  background-color: #50626D;
  padding: 15px;
  margin-top: 20px;
}
.card {
  background-color: #50626D;
  padding: 15px;
  margin-top: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

#more{
	display: none;
}
#readMoreBtn{ 
	border: none;
	background-color: #5A707E;
	color: black;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}
