body{
	background-color:grey;
}
ul{
	list-style-type: none; margin:0; padding:0
}
li{
	float:left; background-color:black; display:inline
}
a{
	display:block; padding:10px
}
li a:hover {
  background-color: lightgrey;
}
