/*Navbar*/
nav ul{
	float:left; 
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	color:#2272FF; /*Neon Blue*/
}

a{
	display: content;
	overflow: hidden;
	padding: 10px;
  	padding: 14px 16px;
  	text-decoration:none;
	font-size: 20px;
}
		
li a:hover {
  background-color: #3C454B;
}

/* Layout */
.row {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.column {  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.badge {
  flex: 20%;
  background-color: black;
  padding: 20px;
}
.card {
  flex: 70%;
  /*align-items: stretch;*/
  background-color: black;
  padding: 20px;	
}
.main {
  flex: 70%;
  background-color: black;
  padding: 20px;
}

@media (max-width: 800px) {
  .badge, .main {   
    flex:100%
  }
}
/*General Formats*/
ul {
	list-style-type: none;
	display:inline-block;
	margin:0;
	overflow:hidden;
	color: grey;
}

li{
	padding: 5px;
}
body{
	margin: 0px;
	background-color: black;
}

header, h1, h2, h3, h4, p{
	margin: 12px;
	font-size:155%;
	text-align: left;
	color: Grey;	
}


.footer{
  font-size: 16px;
  padding: 20px;
  text-align: center;
  background: 808080;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width:24px; 
  height:24px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: black;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

#more{
	display: none;
}
#readMoreBtn{ 
	border: none;
	background-color: #2272FF;
	color: black;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
}
