header{
	color:blue; background-color:white;
	}
	
body{
	background-color:blue; color:grey; font:Arial
	}
image{
	float:right;width:450px;height:400px;
}
Footer{
	font-style:italic
	}
	
ul{
	list-style-type: none; margin:0; padding:0
	}
	
li{
	float:left; background-color:black; display:inline
	}
	
a{
	display:block; padding:10px
	}
	
footer{
	font-style:italic
	}
